<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <style>

          .container1{
              position: absolute;
              z-index: 10;
              bottom: 2rem;
              text-align: center;
              margin:auto
              display: block;
              width: 100%;
              backface-visibility: visible;
              color: black;
              font-size: 40px;
          }
          nav{
              opacity: 0.8;
              position: absolute;
              z-index: 15;
              bottom: 47.5rem;

          }
          img{
          height:760px;
          }
      </style>

    <title>MS | Home</title>
  </head>
  <body>

      <! - crousel -->
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">{% load static%}
        <img src="{% static 'tmp/photos/1.jpg' %}" class="d-block w-100 h-100%" alt="...">
    </div>
    <div class="carousel-item">{% load static%}
      <img src="{% static 'tmp/photos/2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">{% load static%}
      <img src="{% static 'tmp/photos/4.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
       <! navigation bar>
   <nav class="navbar navbar-expand-lg navbar-light  bg-light">
  <a class="navbar-brand" href="{% url 'index' %}"><img src="{%static 'tmp/photos/logo1.png' %}",alt=" MakeEasy" style="width: 100px;height :75%"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'resume' %}">Resume <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'report' %}">Make Report<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">About us<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav  my-2 my-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
      </li>
         <li class="nav-item active">
        <a class="nav-link" href="{% url 'signup' %}">Sign up<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
      <!above crousel things>
<div class="container1">
    <img src="{% static 'tmp/photos/logo.png' %}" alt= "logo---" class="d-block w-25 h-25" style="margin:auto;">
    <p><b>Make Things Simple Not Easy</b> </p>
    <p> <b>Here is lot for you .....</b></p>
    <a href="#"><button type="button" class="btn btn-primary">Get Free Templates</button></a>
      </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      <! here is jumbotorn box>
      <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">lorem ipsum hello there you are not here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur deleniti deserunt dolor dolore ducimus eligendi eos hic illum, minima nostrum nulla odit porro quasi, quia recusandae reprehenderit suscipit voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium architecto at dolor, doloremque eaque eius, ex laboriosam necessitatibus recusandae, saepe similique sint unde voluptas voluptatem. Accusantium aspernatur autem debitis dolorem ea error excepturi exercitationem in, inventore iure minima minus pariatur porro provident quas quibusdam, quod sed, sequi suscipit tempore?
    </p>
    <p class="lead">lorem ipsum hello there you are not here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur deleniti deserunt dolor dolore ducimus eligendi eos hic illum, minima nostrum nulla odit porro quasi, quia recusandae reprehenderit suscipit voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium architecto at dolor, doloremque eaque eius, ex laboriosam necessitatibus recusandae, saepe similique sint unde voluptas voluptatem. Accusantium aspernatur autem debitis dolorem ea error excepturi exercitationem in, inventore iure minima minus pariatur porro provident quas quibusdam, quod sed, sequi suscipit tempore?
    </p>
  </div>
</div>
<hr>
    <form>
  <div class="form-group" style="margin-right:50rem" >
    <label for="exampleFormControlTextarea1">Contact us <br> put your doubt and suggestions here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
        <input type="submit">
</form>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>